## Pivoting

1. Create a DataFrame containing sales data for a store with columns: 'Date', 'Category', 'Sales'. Pivot the DataFrame to show the total sales for each category by date.

2. Create a DataFrame with columns: 'Region', 'Product', 'Revenue'. Pivot the DataFrame to calculate the average revenue for each product in different regions.

3. Using a given DataFrame, pivot the data to display the count of items sold based on 'Store' and 'Year'.

## Sorting & Aggregation

4. Create a DataFrame with columns: 'Name', 'Age', 'Score'. Sort the DataFrame by 'Score' in descending order.

5. Create a DataFrame of students' marks across subjects. Use aggregation functions like `mean`, `sum`, and `max` to summarize marks by student names.

6. Given a DataFrame of employee details (Name, Department, Salary), sort the DataFrame by department, then by salary within each department.

## Re-Indexing & Altering Labels

7. Create a DataFrame with default indexing. Re-index the DataFrame to have a custom index (e.g., 'A', 'B', 'C').

8. Create a DataFrame and demonstrate the use of `reset_index()` to reset to default indices.

9. Given a DataFrame, alter the column labels to uppercase and the row indices to start from 100.

## Groupby() & Transform()

10. Create a DataFrame with columns: 'Department', 'Employee', 'Salary'. Group the data by 'Department' and calculate the average salary for each department.

11. Create a DataFrame with sales data (Store, Item, Sales). Group the data by 'Item' and use `transform()` to calculate the percentage contribution of each sale.

12. Given a DataFrame of student marks, group the data by 'Subject' and use `transform()` to normalize the marks within each subject.