# Task 1: Combining DataFrames

1. Create two DataFrames, `df1` and `df2`, with overlapping columns but different data.
   - Use the `concat` method to vertically stack them.
   - Use the `merge` method to combine the DataFrames on a specific key column.
   - Use the `join` method to combine them based on their index.

In [46]:
import pandas as pd

file=pd.read_csv('F:\\Github_Desktop\\PANDAS\\Days_Labwork\\datasets\\car_price_dataset.csv')
df1=pd.DataFrame(file)
# print(df1.head(5).to_string())

file2=pd.read_csv('F:\\Github_Desktop\\PANDAS\\Days_Labwork\\datasets\\predictive_maintenance.csv')
df2=pd.DataFrame(file2)
# print(df2.head(5).to_string())

# Concatenate DataFrames row-wise with aligned columns
conc = pd.concat([df1, df2], ignore_index=True)

print(conc.head(5).to_string())

        Brand   Model    Year  Engine_Size Fuel_Type    Transmission   Mileage  Doors  Owner_Count    Price  UDI Product ID Type  Air temperature [K]  Process temperature [K]  Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Target Failure Type
0         Kia     Rio  2020.0          4.2    Diesel          Manual  289944.0    3.0          5.0   8501.0  NaN        NaN  NaN                  NaN                      NaN                     NaN          NaN              NaN     NaN          NaN
1   Chevrolet  Malibu  2012.0          2.0    Hybrid       Automatic    5356.0    2.0          3.0  12092.0  NaN        NaN  NaN                  NaN                      NaN                     NaN          NaN              NaN     NaN          NaN
2    Mercedes     GLA  2020.0          4.2    Diesel       Automatic  231440.0    4.0          2.0  11171.0  NaN        NaN  NaN                  NaN                      NaN                     NaN          NaN              NaN     NaN          NaN
3        Audi      Q5  2023.0          2.0  Electric          Manual  160971.0    2.0          1.0  11780.0  NaN        NaN  NaN                  NaN                      NaN                     NaN          NaN              NaN     NaN          NaN
4  Volkswagen    Golf  2003.0          2.6    Hybrid  Semi-Automatic  286618.0    3.0          3.0   2867.0  NaN        NaN  NaN                  NaN                      NaN                     NaN          NaN              NaN     NaN          NaN

In [48]:
import pandas as pd

file=pd.read_csv('F:\\Github_Desktop\\PANDAS\\Days_Labwork\\datasets\\car_price_dataset.csv')
df1=pd.DataFrame(file)
col=df1['Brand']

file2=pd.read_csv('F:\\Github_Desktop\\PANDAS\\Days_Labwork\\datasets\\predictive_maintenance.csv')
df2=pd.DataFrame(file2)
df2['Brand']=col

mrg=pd.merge(df1,df2,on='Brand')
print(mrg.head(5).to_string())

  Brand Model  Year  Engine_Size Fuel_Type Transmission  Mileage  Doors  Owner_Count  Price  UDI Product ID Type  Air temperature [K]  Process temperature [K]  Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Target Failure Type
0   Kia   Rio  2020          4.2    Diesel       Manual   289944      3            5   8501    1     M14860    M                298.1                    308.6                    1551         42.8                0       0   No Failure
1   Kia   Rio  2020          4.2    Diesel       Manual   289944      3            5   8501    8     L47187    L                298.1                    308.6                    1527         40.2               16       0   No Failure
2   Kia   Rio  2020          4.2    Diesel       Manual   289944      3            5   8501    9     M14868    M                298.3                    308.7                    1667         28.6               18       0   No Failure
3   Kia   Rio  2020          4.2    Diesel       Manual   289944      3            5   8501   19     H29432    H                298.8                    309.2                    1306         54.5               50       0   No Failure
4   Kia   Rio  2020          4.2    Diesel       Manual   289944      3            5   8501   26     L47205    L                299.0                    309.5                    1861         23.3               73       0   No Failure

2. Create two DataFrames with non-overlapping columns and combine them:
   - Horizontally stack them using `concat`.
   - Perform an outer join on a specific key column.

3. Create a DataFrame and split it into multiple smaller DataFrames.
   - Recombine the smaller DataFrames into a single one.

# Task 2: Handling Missing Data

1. Create a DataFrame with some missing values (`NaN`). Perform the following operations:
   - Fill missing values with a constant value.
   - Use `forward fill` and `backward fill` methods.
   - Replace missing values with the mean of the respective column.

2. Identify and drop rows or columns with missing data:
   - Drop rows with any missing values.
   - Drop columns with all missing values.

3. Create a DataFrame and detect missing data using the `isnull()` and `notnull()` methods.
   - Count the number of missing values in each column.

4. Perform an interpolation operation to handle missing data in a DataFrame with numerical values.

# Task 3: Descriptive Statistics

1. Create a DataFrame with numerical and categorical data:
   - Calculate the mean, median, mode, and standard deviation of numerical columns.
   - Count the frequency of unique values in categorical columns.

2. Create a DataFrame representing a dataset of exam scores for different subjects.
   - Find the minimum, maximum, and range of scores for each subject.
   - Identify the student(s) with the highest and lowest total scores.

3. Create a DataFrame with multiple groups of data (e.g., sales data for different regions):
   - Group the data by a specific column and calculate descriptive statistics (e.g., `mean`, `sum`, `std`) for each group.
   - Visualize summary statistics using a bar chart.

4. Use the `describe()` method on a DataFrame to generate descriptive statistics:
   - Analyze the output and write observations on key metrics.

# Additional Challenges

1. Combine DataFrames with mismatched data:
   - Resolve alignment issues by specifying `how` parameter in merging.

2. Generate a DataFrame with deliberate missing values and evaluate:
   - Impact of different imputation strategies (mean, median, mode).

3. Compare descriptive statistics before and after handling missing data in a dataset.